<div class="container">
  <mat-card>
    <mat-card-header>
      <p class="title-page">Cập nhật nhóm nhân viên</p>
    </mat-card-header>
    <form class="example-form my-3 mx-3" (ngSubmit)="updateStaffGroup()">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Tên nhóm nhân viên</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="namef"
                  [errorStateMatcher]="matcher"
                  [(ngModel)]="currentGroup.name"
                  name="name"
                />
                <mat-error *ngIf="namef.hasError('required')">
                  Vui lòng nhập tên nhóm nhân viên<noscript></noscript>
                </mat-error>
              </mat-form-field>
              <mat-slide-toggle
                name="activated"
                [(ngModel)]="currentGroup.activated"
              >
                <span class="slide-toggle">Kích hoạt ?</span>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="group-button">
              <button
                mat-raised-button
                class="mt-2 mx-2"
                [routerLink]="'../../../../staff/group'"
                type="button"
              >
                <mat-icon>keyboard_backspace</mat-icon>Trở về
              </button>
              <button mat-raised-button class="button-submit mt-2 mx-2">
                <mat-icon>save</mat-icon>Cập nhật
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
