<div class="container ">
  <mat-card>
    <mat-card-header>
      <p class="title-page">Thêm cửa hàng mới</p>
    </mat-card-header>
    <form class="example-form my-3 mx-3" (ngSubmit)="createStore()">

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Tên cửa hàng</mat-label>
                <input type="email" matInput [formControl]="namef" [errorStateMatcher]="matcher"
                  [(ngModel)]="newStore.name" name="name">
                <mat-error *ngIf="namef.hasError('required')">
                  Vui lòng nhập tên cửa hàng
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" [(ngModel)]="newStore.email" name="email" matInput placeholder="pat@example.com"
                [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Địa chỉ</mat-label>
              <input type="text" [(ngModel)]="newStore.addressDetail" name="email" matInput
                placeholder="02 Nguyễn Đình Chiểu" [formControl]="addressDetailf" required>
              <mat-error *ngIf="addressDetailf.hasError('required')">
                Vui lòng nhập thông tin địa chỉ
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Điện thoại</mat-label>
                <input type="number" matInput [(ngModel)]="newStore.phone" name="phone" [formControl]="phonef"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="phonef.hasError('required')">
                  Vui lòng nhập số điện thoại
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Chi nhánh</mat-label>
                <mat-select required [(ngModel)]="newStore.address.id" name="address">
                  <mat-option *ngFor="let item of address" [value]="item.id"> {{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="col-md-4 overflow-auto">
          <input type="file"
            style="color:var(--yellow); font-size: 15px;font-weight: 700;font-family: 'Roboto', sans-serif; margin-bottom: 10px;" multiple
            value="select" (change)="onFileSelected($event)">
          <img [src]="newStore.image" width="350px" height="280px" name="image">
        </div>
      </div>
      <div class="button">
        <button mat-raised-button class="button-submit mt-2 mx-2"><mat-icon>save</mat-icon>Lưu</button>
        <button mat-raised-button class="mt-2 mx-2" [routerLink]="'../../stores/list'" type="button"><mat-icon>keyboard_backspace</mat-icon>Trở về</button>
    </div>
    </form>
  </mat-card>
</div>
