:root{
  --body-color: red;
  --sidebar-color: red;
  --primary-color: #000;
  --yellow:#FF9900;
  --gray:#CACCCE;
  --text-color: #707070;
}

body{
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* ===== Sidebar ===== */
.sidebar{
  height: 581px;
  width: 100%;
  /* padding: 10px 14px; */
  background: #FFF;
  z-index: 100;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  background:#eee;
}

.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar .icon{
  min-width: 40px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--yellow);
  transition: var(--tran-03);
  margin:0 15px;
}


.sidebar .text{
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  color: var(--yellow);
  transition: all 0.2s linear;;

}

/* =========================== */

.sidebar li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: black;
  transition: all 0.2s linear;
}


.sidebar .menu-bar{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.links:hover{
  background: var(--yellow);
  transition: all 0.2s linear;
}
.menu-links{
  margin: 0;
  padding: 0;
}

