<div class="superNav border-bottom">
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand brand" routerLink="/home/stores/list"> <strong>TOUS LES TEMP</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
             <a id="clock" class="nav-link mx-2 text-uppercase active" aria-current="page"
             href="#" style="cursor: none;" disabled="disabled"></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto ">

          <li class="nav-item">
            <a class="nav-link mx-2 active">
              <i class="fa fa-user me-1 "></i><strong>{{email}}</strong></a>
          </li>
          <li class="nav-item">
            <img [matMenuTriggerFor]="menu"  class="logo" src="../../../assets/logo.jpg" alt="">
          </li>
        </ul>

        <mat-menu #menu="matMenu" class="mat-menu">
          <button mat-menu-item>
            <mat-icon> local_offer</mat-icon>
            <span class="menu-item">{{username}}</span>
          </button>
          <button mat-menu-item >
            <mat-icon>supervisor_account</mat-icon>
            <span class="menu-item" [routerLink]="'/profile'">Tài khoản </span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="menu-item">Đăng xuất</span>
          </button>

          <!-- <div class="example-header">
            <button mat-icon-button >
              <mat-icon>keyboard_double_arrow_left</mat-icon>
            </button>
            <button mat-icon-button >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <span class="example-header-label"></span>
            <button mat-icon-button>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-icon-button >
              <mat-icon>keyboard_double_arrow_right</mat-icon>
            </button>
          </div> -->
        </mat-menu>
      </div>
    </div>
  </nav>
