<!-- <div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let sheet of list">
      <mat-card class="my-2 px-2">
        <mat-card-header>
          <div mat-card-avatar><img class="a" src="../../../../assets/logo.jpg" alt=""></div>
          <mat-card-title class="title">{{sheet.staff.name}}</mat-card-title>
          <mat-card-subtitle>Tháng: {{sheet.month}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <p>
            <strong>Vị trí: </strong> {{sheet.salary.name}}
          </p>
          <p>
            <strong>Số giờ làm: </strong> {{sheet.numOfShift*4}}
          </p>
          <p>
            <strong>Đơn giá: </strong> {{ sheet.salary.basicSalary | currency: " VND " | uppercase }}
          </p>

        </mat-card-content>
        <mat-card-actions class="group-button-detail">
          <button mat-raised-button class="button-submit me-auto"
            (click)="editTimeKeeping(sheet.id)"><mat-icon>edit</mat-icon>Cập nhập</button>
          <button mat-raised-button class="ms-auto"><mat-icon>open_in_new</mat-icon>Chi tiết</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div> -->

<div class="container">

  <div class="row my-2 d-flex">
    <div class="col-md-4">
      <p class="title-page">Danh sách chấm công</p>
    </div>
    <div class="col-md-8 d-flex">
    </div>
  </div>


  <div class="row ">
    <div class="col-md-6">
      <div class="effect my-2">
        <input class="effect-2" (keyup)="doFilter($event)" type="text" [(ngModel)]="name" placeholder="Tìm kiếm">
        <i class="fa-solid fa-magnifying-glass icon-search" (click)="search()"></i>
        <span class="focus-border"></span>
      </div>
    </div>
    <div class="col-md-6" >
      <button mat-raised-button class="button-submit mt-2" [routerLink]="'../create'"><mat-icon>library_add</mat-icon>Thêm mới</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mat-header-sticky ">
      <table mat-table matSort [dataSource]="list" class="mat-elevation-z8 table-tlt">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef disableClear>ID</th>
          <td mat-cell *matCellDef="let element"  class="col-name-tlt"
            [routerLink]="'../detail/' + element.id">
            {{ element.id }}
          </td>

        </ng-container>
        <ng-container matColumnDef="month">
          <th mat-header-cell *matHeaderCellDef>Tháng</th>
          <td mat-cell *matCellDef="let element">{{ element.month }}</td>
        </ng-container>

        <ng-container matColumnDef="numOfShift">
          <th mat-header-cell *matHeaderCellDef>Số giờ làm</th>
          <td mat-cell *matCellDef="let element">{{ element.numOfShift * 4}}</td>
        </ng-container>
        <ng-container matColumnDef="salaryname">
          <th mat-header-cell *matHeaderCellDef>Vị trí</th>
          <td mat-cell *matCellDef="let element">{{ element.salary.name }}</td>
        </ng-container>
        <ng-container matColumnDef="salaryprice">
          <th mat-header-cell *matHeaderCellDef>Đơn giá /giờ</th>
          <td mat-cell *matCellDef="let element">{{ element.salary.basicSalary }}</td>
        </ng-container>
        <ng-container matColumnDef="staff">
          <th mat-header-cell *matHeaderCellDef>Nhân viên</th>
          <td mat-cell *matCellDef="let element">{{ element.staff.name }}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="col-action-tlt"></th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="basic" (click)="editTimeKeeping(element.id)">
              <i class="fa fa-edit" style="color:var(--yellow)"></i>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="col-action-tlt"></th>
          <td mat-cell *matCellDef="let element" >
            <button mat-mini-fab color="basic" (click)="deleteTimeKeeping(element.id)">
              <i class="fa-solid fa-trash" style="color:red"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-paginator class="mat-paginator-sticky"[pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [showFirstLastButtons]="showFirstLastButtons">
      </mat-paginator>
    </div>
  </div>
</div>
