label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.register-img-card {
  height: 110px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

.backgound-image {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url("../../../assets/touslestemp.jpg");
}

.backgound-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.register-form {
  width: 500px;
  text-align: center;
  padding: 10px;
}
.content {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  text-align: center;
}
.alert {
  padding: 0 !important;
}
.img-fluid {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.button-register{
  background-color: var(--yellow, transparent) !important;
  align-items: center;
  margin: 8px auto;
}
