<div class="container ">
  <mat-card>
    <mat-card-header>
      <p class="title-page">Thêm bảng chấm công </p>
    </mat-card-header>
    <form class="example-form my-3 mx-3" (ngSubmit)="updateTimpKeeping()">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Tên mức lương</mat-label>
                <input type="text" matInput [formControl]="monthf" [errorStateMatcher]="matcher"
                  [(ngModel)]="currentTimeKeeping.month" name="name">
                <mat-error *ngIf="monthf.hasError('required')">
                  Vui lòng nhập tháng chấm công
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Đơn giá lương trên giờ</mat-label>
                <input type="number" matInput [formControl]="salaryf" [errorStateMatcher]="matcher"
                  [(ngModel)]="currentTimeKeeping.salary.basicSalary" name="basicSalary">
                <mat-error *ngIf="salaryf.hasError('required')">
                  Vui lòng nhập mức lương cơ bản
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nhân viên</mat-label>
                <mat-select required [(ngModel)]="currentTimeKeeping.staff.id" name="staff">
                  <mat-option *ngFor="let item of staff" [value]="item.id"> {{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Vị trí</mat-label>
                <mat-select required [(ngModel)]="currentTimeKeeping.salary.id" name="salary">
                  <mat-option *ngFor="let item of salaryList" [value]="item.id"> {{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="group-button">
              <button mat-raised-button class="mt-2 mx-2" [routerLink]="'../../../timekeeping/list'"
                type="button"><mat-icon>keyboard_backspace</mat-icon>Trở về</button>
              <button mat-raised-button class="button-submit mt-2 mx-2"><mat-icon>save</mat-icon>Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
