<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="effect my-2">
          <!-- <input class="effect-3" [disabled]="isWorking" #inputField [(ngModel)]="address"
            (keydown.enter)="findAddress()" type="text" placeholder="Địa chỉ cửa hàng">
          <i class="fa-solid fa-close icon-search" (click)="reset()"></i> -->
          <span class="focus-border"></span>

          <button mat-raised-button class="button-submit mt-2 ms-auto" (click)="getCurrentLocation()" [disabled]="isWorking"><mat-icon>place</mat-icon>Vị trí của tôi</button>
        </div>

        <!-- <button mat-raised-button class="button-submit mt-2 ms-auto" (click)="findAddress()" [disabled]="isWorking || !address?.length"><mat-icon>location_searching</mat-icon>Tìm kiếm</button> -->

      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-4 pr-md-0">

          <div class="scrollbar" #scrollbar>
            <mat-list>
              <div mat-subheader>Cửa hàng</div>
              <mat-list-item *ngFor="let store of listStore" (click)="findStores(store.addressDetail)">
                <div matListItemTitle>{{store.name}}</div>
                <div matListItemLine>{{store.addressDetail}}</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="google_map_container shadow-sm rounded mt-3 mt-md-0">
            <google-map width="100%" [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
              <map-marker #marker="mapMarker" [position]="mapCenter" [options]="markerOptions"
                (mapClick)="openInfoWindow(marker)" (mapDragend)="onMapDragEnd($event)">
              </map-marker>
              <map-info-window>{{ markerInfoContent }}</map-info-window>
            </google-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
