<div class="container">
  <!-- <mat-card> -->
  <div class="row my-2 d-flex">
    <div class="col-md-4">
      <p class="title-page">Danh sách sản phẩm</p>
    </div>
    <div class="col-md-8"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="effect my-2 ms-auto">
        <input
          class="effect-2"
          (keyup)="doFilter($event)"
          type="text"
          [(ngModel)]="name"
          placeholder="Tìm kiếm"
        />
        <i class="fa-solid fa-magnifying-glass icon-search"></i>
        <span class="focus-border"></span>
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-end">
      <button mat-raised-button (click)="getProducts()" class="mt-2">
        <mat-icon>list</mat-icon> Tấc cả sản phẩm
      </button>
    </div>
    <div class="col-md-3 mb-2">
      <button
        mat-raised-button
        class="button-submit mt-2"
        [routerLink]="'../create'"
      >
        <mat-icon>library_add</mat-icon>Thêm mới
      </button>

      <button mat-raised-button class="mt-2" (click)="filter()">
        <mat-icon>send</mat-icon> Tìm kiếm
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mat-header-sticky">
      <table
        mat-table
        matSort
        [dataSource]="products"
        class="mat-elevation-z8 table-tlt"
        id="productExport"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
          <td mat-cell *matCellDef="let element" class="col-name-tlt">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="inventory">
          <th mat-header-cell *matHeaderCellDef>Số lượng</th>
          <td mat-cell *matCellDef="let element">{{ element.inventory }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Đơn giá
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.price | currency : "VND" : "symbol" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Ảnh</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="basic" (click)="showImages(element)">
              <i class="fa-solid fa-image"></i>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Loại sản phẩm</th>
          <td mat-cell *matCellDef="let element">
            {{ element.category.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>Size</th>
          <td mat-cell *matCellDef="let element">{{ element.size.size }}</td>
        </ng-container>
        <ng-container matColumnDef="store">
          <th mat-header-cell *matHeaderCellDef>Cửa hàng</th>
          <td mat-cell *matCellDef="let element">{{ element.store.name }}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="col-action-tlt"></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              color="basic"
              (click)="editProduct(element.id)"
            >
              <i class="fa fa-edit" style="color: var(--yellow)"></i>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="col-action-tlt"></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              color="basic"
              (click)="deleteProduct(element.id)"
            >
              <i class="fa-solid fa-trash" style="color: red"></i>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-divider></mat-divider>
      <mat-paginator
        class="mat-paginator-sticky"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [showFirstLastButtons]="showFirstLastButtons"
      >
      </mat-paginator>
      <mat-divider></mat-divider>
    </div>
    <div class="col-md-3">
      <mat-card class="filter-box">
        <form [formGroup]="filterForm">
          <mat-form-field appearance="outline" class="filter-box-field">
            <mat-label>Tên sản phẩm</mat-label>
            <input type="text" matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="filter-box-field">
            <mat-label>Đơn giá</mat-label>
            <mat-select formControlName="price">
              <mat-option value="&lt;20000">Nhỏ hơn 20000</mat-option>
              <mat-option value="&gt;20000">Lớn hơn 20000</mat-option>
              <mat-option value="&gt;20000;price&lt;35000"
                >Từ 20000 đến 35000</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="filter-box-field">
            <mat-label>Số lượng</mat-label>
            <mat-select formControlName="inventory">
              <mat-option value="&lt;10">Nhỏ hơn 10</mat-option>
              <mat-option value="&gt;50;inventory&lt;80"
                >Từ 50 đến 80</mat-option
              >
              <mat-option value="&gt;80">Lớn hơn 80</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="filter-box-field">
            <mat-label>Loại sản phẩm</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let item of categories" [value]="item.id">
                {{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="filter-box-field">
            <mat-label>Cửa hàng</mat-label>
            <mat-select formControlName="store">
              <mat-option *ngFor="let item of stores" [value]="item.id">
                {{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
</div>
