<div class="container ">
  <mat-card>
    <mat-card-header>
      <p class="title-page">Thêm chi nhánh</p>
    </mat-card-header>
    <form class="example-form my-3 mx-3" (ngSubmit)="createCategory()">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Tên loại sản phẩm</mat-label>
                <input type="text" matInput [formControl]="namef" [errorStateMatcher]="matcher"
                  [(ngModel)]="newAddress.name" name="name">
                <mat-error *ngIf="namef.hasError('required')">
                  Vui lòng nhập tên loại sản phẩm
                </mat-error>
              </mat-form-field>
    
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="group-button">
                <button mat-raised-button class="mt-2 mx-2" [routerLink]="'../../categories/list'" type="button"><mat-icon>keyboard_backspace</mat-icon>Trở về</button>
                <button mat-raised-button class="button-submit mt-2 mx-2"><mat-icon>save</mat-icon>Lưu</button>

            </div>

          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>

