<div class="container" *ngIf="currentUser; else loggedOut">
	<div>
		<h6 class="text-muted py-5">
			<strong>{{ currentUser.displayName }}</strong> Profile
		</h6>
	</div>
	<p>
		<strong>Email:</strong> {{ currentUser.email }}
	</p>
	<strong>Roles:</strong>
	<ul>
		<li *ngFor="let role of currentUser.roles">{{ role }}</li>
	</ul>
</div>
<ng-template #loggedOut> Please login. </ng-template>

<div class="example-header">
  <button mat-icon-button >
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="example-header-label"></span>
  <button mat-icon-button>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
